@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

main,
header,
footer {
  background-color: white;
}

input {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  border: 1.5px solid #2c6b9a;
  padding-left: 10px;
  border-radius: 10px;
}

.hover-shadow-bottom:hover {
  box-shadow: inset 0px -1px 0px 0px #2c6b9a;
  box-sizing: border-box;
}
